{% extends 'base.html' %}
{% block title %} Create2 {%endblock%}
{% block body %}
<style>
    .container{
        padding-top: 3rem;
        padding-left: 20rem;
        padding-right: 20rem;
        padding-bottom: 3rem;
    }
</style>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="example-row">
            <div class="input-group mb-3">
                <span class="input-group-text" >Name</span>
                <input type="text" class="form-control" name="HName" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" >Email</span>
                <input type="email" class="form-control" name="HEmail" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" >Age</span>
                <input type="number" class="form-control" name="HAge" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" >Phone Number</span>
                <input type="text" class="form-control" name="HPhone" >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" >Adress</span>
                <input type="text" class="form-control" name="HAdress" >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" >Date of Birth</span>
                <input type="date" class="form-control" name="HDate_of_birth" required>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" >Gender</label>
                <select class="form-select" name="HGender">
                    <option selected disabled>Choose...</option>
                    <option value="one">Male</option>
                    <option value="two">Female</option>
                    <option value="three">Others</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Religion</label>
                <select class="form-select" name="HReligion">
                    
                    <option selected disabled>Choose...</option>
                    <option value="one">Muslim</option>
                    <option value="two">Hindu</option>
                    <option value="three">Christian</option>
                    <option value="four">Bouddho</option>
                    <option value="five">Others</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" >image</span>
                <input type="file" class="form-control" name="HImage" >
            </div>
            <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
            </div>
        </div>
        
    </form>
</div>

{%endblock%}